#menuContainer {
    height: 100vh;
    width: 100vw;
    background: #008CBA;
    font-family: "Jazz let", fantasy;    
}

div select {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1vh 2vw;
    text-align: center;
    display: block;
    font-size: 5vh;
    font-family: "Jazz let", fantasy;
    margin: 8px 4px;
    cursor: pointer;
}

.choose {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 7vh;
}

#chooseUsername {
    padding-top: 40vh;
    text-align: center;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5vh;
    font-family: "Jazz let", fantasy;        
    margin: 8px 4px;
    cursor: pointer;
    border-radius: 10px;
    
}

#settings {
    padding-top: 10vh;
    text-align: center;
    font-size: 7vh;    
}

#settings select {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 4vh;
}

#showUsername {
    padding-bottom: 10vh;
}

#currentPlayerUsername {
    color: palegreen;
}